$twiggys-color: #3299CC;
$twiggys-opaque: #12587ab0;
$twiggys-light: #54a3ca;
$baby-color: #662D91;
$baby-opaque: #662D91b0;
$baby-light: #7c6191;
$party-color: #8CC63F;
$party-opaque: #8bc63fb0;
$party-light: #9bc762;
$preschool-color: #FF7BAC;
$preschool-opaque: #FF7BACb0;
$preschool-light: #f7a5c3;
