$twiggys-color: #3299CC;
$twiggys-opaque: #3299ccb0;
$baby-color: #662D91;
$baby-opaque: #662D91b0;
$party-color: #8CC63F;
$party-opaque: #8CC63Fb0;
$preschool-color: #FF7BAC;
$preschool-opaque: #FF7BACb0;
